
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 1rem; /* optional but recommended */
    justify-content: center;
    margin-top: 50px;
}

li{
    list-style-type: none;
}